<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIP Returns Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    

</head>
<body>
    <h1>SIP Returns Calculator</h1>
    <form action="/results" method="post" onsubmit="storeStockSymbol()">
        <div class="autocomplete">
            <label for="stock_symbol">Stock Symbol:</label>
            <input type="text" id="stock_symbol" name="stock_symbol" required>
        </div>
        <label for="sip_amount">SIP Amount:</label>
        <input type="number" id="sip_amount" name="sip_amount" value="1000">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date">
        <button type="submit">Calculate</button>
    </form>
    
    {% if start_date and end_date %}
    <div class="result">
        <label>Results:</label>
        <form action="/results" method="post">
            <div>Stock Symbol: <span class="value"><b>{{ stock_symbol }}</b></span></div>
			
            <div>Start Date: <span class="value">{{ start_date }}</span></div>
            <div>End Date: <span class="value">{{ end_date }}</span></div>
            <div>Start Price: <span class="amount">Rs. {{ start_price }}</span></div>
            <div>End Price: <span class="amount">Rs. {{ end_price }}</span></div>
            <div>Total Invested: <span class="amount">Rs. {{ total_invested }}</span></div>
            <div>Current Value: <span class="amount">Rs. {{ current_value }}</span></div>
            <div>Duration: <span class="duration">{{ duration }}</span></div>
            <div>XIRR: <span class="percentage">{{ xirr }}%</span></div>
            <div>Overall Return Percentage: <span class="percentage">{{ overall_return_percentage }}%</span></div>
            <div>SIP Returns Profit: <span class="amount">Rs. {{ sip_returns_profit }}</span></div>
            <div>Overall Profit Amount: <span class="amount">Rs. {{ overall_profit_amount }}</span></div>
        </form>
		 <div class="logo">
            <img src="{{ logo_url }}" alt="Company Logo">
        </div>
    </div>
	
    <div class="button-container">
        <a href="/" class="back-button">Back to Form</a>
    </div>
    {% endif %}
	<script src="static/js/script.js"></script>
</body>
</html>
